@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

:root {
    --vp-c-bg: var(--ctp-latte-mantle);
    --vp-c-bg-alt: var(--ctp-latte-crust);
    --vp-c-bg-elv: var(--ctp-latte-base);
    --vp-c-bg-soft: var(--ctp-latte-surface0);
  }
  
  .dark {
    --vp-c-bg: var(--ctp-mocha-mantle);
    --vp-c-bg-alt: var(--ctp-mocha-crust);
    --vp-c-bg-elv: var(--ctp-mocha-base);
    --vp-c-bg-soft: var(--ctp-mocha-surface0);
  }