[package]
name = "strata-core"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]

[dependencies]
mlua = { version = "0.9.1", features = ["luajit", "vendored"] }
